@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;

}

.not-found {
  text-align: center;
}

.not-found a {
  color: #4979ff;
  text-decoration: underline;
  margin-left: ;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: rgb(173, 190, 222);
  }
}
