.heading {
  text-align: center;
}

.textBody {
  text-align: justify;
  margin: 20px;
  line-height: 1.5;
}

.mainContainer a {
  margin-left: 40px;
  color: rgb(166, 26, 166);
  text-decoration: underline;
}

.image {
display: flex;
justify-content: center;
}

.btn 
