.header {
  background: cadetblue;
  height: 190px;
}

.logo {
  padding: 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.linkItem {
  font-size: 1rem;
  color: ;
  font-weight: bold;
  margin-right: 20px;
}