.listTitle {
  text-align: center;
}

.single {
  padding: 2px 16px;
  background: #ffffff;
  display: block;
  margin: 20px 10px;
  border-left: 8px solid #ffffff;
  cur
}

.single:hover {
  border-left: 8px solid #4979ff;
}